.todo-form {
	display: flex;
	flex-direction: column;
	
	&>:not(:last-child) {
		margin-bottom: 8px;
	}

	h3 {
		margin: 0 auto;
	}

	.button-row {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
}
